-- Logs begin at Fri 2020-01-10 22:35:27 UTC, end at Fri 2020-01-10 23:44:26 UTC. --
Jan 10 23:41:22 ubuntu systemd[1]: Started Devstack devstack@s-container-sync.service.
Jan 10 23:41:23 ubuntu container-sync[1579]: Starting 1579
Jan 10 23:41:23 ubuntu container-sync[1579]: Configuration option internal_client_conf_path not defined. Using default configuration, See internal-client.conf-sample for options
