-- Logs begin at Thu 2020-01-09 17:29:36 UTC, end at Thu 2020-01-09 20:02:52 UTC. --
Jan 09 18:32:06 ubuntu systemd[1]: Started Devstack devstack@s-container-sync.service.
Jan 09 18:32:08 ubuntu container-sync[2625]: Starting 2625
Jan 09 18:32:08 ubuntu container-sync[2625]: Configuration option internal_client_conf_path not defined. Using default configuration, See internal-client.conf-sample for options
