-- Logs begin at Thu 2020-01-09 21:20:17 UTC, end at Fri 2020-01-10 00:09:48 UTC. --
Jan 09 23:52:19 ubuntu systemd[1]: Started Devstack devstack@s-container-sync.service.
Jan 09 23:52:20 ubuntu container-sync[1843]: Starting 1843
Jan 09 23:52:20 ubuntu container-sync[1843]: Configuration option internal_client_conf_path not defined. Using default configuration, See internal-client.conf-sample for options
