-- Logs begin at Mon 2020-01-06 14:38:36 UTC, end at Mon 2020-01-06 16:08:32 UTC. --
Jan 06 15:28:55 ubuntu systemd[1]: Starting Devstack devstack@etcd.service...
Jan 06 15:28:55 ubuntu etcd[3597]: etcd Version: 3.3.12
Jan 06 15:28:55 ubuntu etcd[3597]: Git SHA: d57e8b8
Jan 06 15:28:55 ubuntu etcd[3597]: Go Version: go1.10.8
Jan 06 15:28:55 ubuntu etcd[3597]: Go OS/Arch: linux/amd64
Jan 06 15:28:55 ubuntu etcd[3597]: setting maximum number of CPUs to 2, total number of available CPUs is 2
Jan 06 15:28:55 ubuntu etcd[3597]: listening for peers on http://0.0.0.0:2380
Jan 06 15:28:55 ubuntu etcd[3597]: listening for client requests on 169.16.1.120:2379
Jan 06 15:28:55 ubuntu etcd[3597]: name = ubuntu
Jan 06 15:28:55 ubuntu etcd[3597]: data dir = /opt/stack/data/etcd
Jan 06 15:28:55 ubuntu etcd[3597]: member dir = /opt/stack/data/etcd/member
Jan 06 15:28:55 ubuntu etcd[3597]: heartbeat = 100ms
Jan 06 15:28:55 ubuntu etcd[3597]: election = 1000ms
Jan 06 15:28:55 ubuntu etcd[3597]: snapshot count = 100000
Jan 06 15:28:55 ubuntu etcd[3597]: advertise client URLs = http://169.16.1.120:2379
Jan 06 15:28:55 ubuntu etcd[3597]: initial advertise peer URLs = http://169.16.1.120:2380
Jan 06 15:28:55 ubuntu etcd[3597]: initial cluster = ubuntu=http://169.16.1.120:2380
Jan 06 15:28:55 ubuntu etcd[3597]: starting member cfcf58aaee6bec85 in cluster 61f1a9d5f7960a1
Jan 06 15:28:55 ubuntu etcd[3597]: cfcf58aaee6bec85 became follower at term 0
Jan 06 15:28:55 ubuntu etcd[3597]: newRaft cfcf58aaee6bec85 [peers: [], term: 0, commit: 0, applied: 0, lastindex: 0, lastterm: 0]
Jan 06 15:28:55 ubuntu etcd[3597]: cfcf58aaee6bec85 became follower at term 1
Jan 06 15:28:55 ubuntu etcd[3597]: simple token is not cryptographically signed
Jan 06 15:28:55 ubuntu etcd[3597]: starting server... [version: 3.3.12, cluster version: to_be_decided]
Jan 06 15:28:55 ubuntu etcd[3597]: cfcf58aaee6bec85 as single-node; fast-forwarding 9 ticks (election ticks 10)
Jan 06 15:28:55 ubuntu etcd[3597]: added member cfcf58aaee6bec85 [http://169.16.1.120:2380] to cluster 61f1a9d5f7960a1
Jan 06 15:28:56 ubuntu etcd[3597]: cfcf58aaee6bec85 is starting a new election at term 1
Jan 06 15:28:56 ubuntu etcd[3597]: cfcf58aaee6bec85 became candidate at term 2
Jan 06 15:28:56 ubuntu etcd[3597]: cfcf58aaee6bec85 received MsgVoteResp from cfcf58aaee6bec85 at term 2
Jan 06 15:28:56 ubuntu etcd[3597]: cfcf58aaee6bec85 became leader at term 2
Jan 06 15:28:56 ubuntu etcd[3597]: raft.node: cfcf58aaee6bec85 elected leader cfcf58aaee6bec85 at term 2
Jan 06 15:28:56 ubuntu etcd[3597]: published {Name:ubuntu ClientURLs:[http://169.16.1.120:2379]} to cluster 61f1a9d5f7960a1
Jan 06 15:28:56 ubuntu systemd[1]: Started Devstack devstack@etcd.service.
Jan 06 15:28:56 ubuntu etcd[3597]: ready to serve client requests
Jan 06 15:28:56 ubuntu etcd[3597]: INFO: 2020/01/06 15:28:56 dialing to target with scheme: ""
Jan 06 15:28:56 ubuntu etcd[3597]: INFO: 2020/01/06 15:28:56 could not get resolver for scheme: ""
Jan 06 15:28:56 ubuntu etcd[3597]: serving insecure client requests on 169.16.1.120:2379, this is strongly discouraged!
Jan 06 15:28:56 ubuntu etcd[3597]: setting up the initial cluster version to 3.3
Jan 06 15:28:56 ubuntu etcd[3597]: set the initial cluster version to 3.3
Jan 06 15:28:56 ubuntu etcd[3597]: enabled capabilities for version 3.3
