-- Logs begin at Sat 2020-01-04 16:13:59 UTC, end at Mon 2020-01-06 10:41:14 UTC. --
Jan 06 09:58:24 ubuntu systemd[1]: Started Devstack devstack@s-container-sync.service.
Jan 06 09:58:25 ubuntu container-sync[15544]: Starting 15544
Jan 06 09:58:25 ubuntu container-sync[15544]: Configuration option internal_client_conf_path not defined. Using default configuration, See internal-client.conf-sample for options
