-- Logs begin at Mon 2020-01-20 09:54:21 UTC, end at Mon 2020-01-20 12:17:04 UTC. --
Jan 20 11:48:47 ubuntu systemd[1]: Started Devstack devstack@s-container-sync.service.
Jan 20 11:48:49 ubuntu container-sync[13502]: Starting 13502
Jan 20 11:48:49 ubuntu container-sync[13502]: Configuration option internal_client_conf_path not defined. Using default configuration, See internal-client.conf-sample for options
