-- Logs begin at Tue 2020-01-14 06:28:44 UTC, end at Wed 2020-01-15 12:00:10 UTC. --
Jan 15 11:34:29 ubuntu systemd[1]: Started Devstack devstack@s-container-sync.service.
Jan 15 11:34:30 ubuntu container-sync[14122]: Starting 14122
Jan 15 11:34:30 ubuntu container-sync[14122]: Configuration option internal_client_conf_path not defined. Using default configuration, See internal-client.conf-sample for options
