-- Logs begin at Sat 2020-01-04 01:54:23 UTC, end at Sat 2020-01-04 03:14:10 UTC. --
Jan 04 02:55:49 ubuntu systemd[1]: Started Devstack devstack@s-container-sync.service.
Jan 04 02:55:50 ubuntu container-sync[1479]: Starting 1479
Jan 04 02:55:50 ubuntu container-sync[1479]: Configuration option internal_client_conf_path not defined. Using default configuration, See internal-client.conf-sample for options
