-- Logs begin at Fri 2019-12-20 14:40:18 UTC, end at Fri 2019-12-20 21:19:16 UTC. --
Dec 20 20:45:53 ubuntu systemd[1]: Started Devstack devstack@s-container-sync.service.
Dec 20 20:45:54 ubuntu container-sync[13889]: Starting 13889
Dec 20 20:45:54 ubuntu container-sync[13889]: Configuration option internal_client_conf_path not defined. Using default configuration, See internal-client.conf-sample for options
