-- Logs begin at Tue 2019-12-17 03:21:31 UTC, end at Tue 2019-12-17 05:59:50 UTC. --
Dec 17 05:25:55 ubuntu systemd[1]: Started Devstack devstack@s-container-sync.service.
Dec 17 05:25:56 ubuntu container-sync[2044]: Starting 2044
Dec 17 05:25:56 ubuntu container-sync[2044]: Configuration option internal_client_conf_path not defined. Using default configuration, See internal-client.conf-sample for options
