-- Logs begin at Fri 2020-01-03 22:36:14 UTC, end at Sat 2020-01-04 00:03:42 UTC. --
Jan 03 23:30:40 ubuntu systemd[1]: Started Devstack devstack@s-container-sync.service.
Jan 03 23:30:42 ubuntu container-sync[2155]: Starting 2155
Jan 03 23:30:42 ubuntu container-sync[2155]: Configuration option internal_client_conf_path not defined. Using default configuration, See internal-client.conf-sample for options
