-- Logs begin at Fri 2020-01-10 21:22:01 UTC, end at Sat 2020-01-11 00:01:46 UTC. --
Jan 10 22:35:42 ubuntu systemd[1]: Started Devstack devstack@s-container-sync.service.
Jan 10 22:35:43 ubuntu container-sync[2886]: Starting 2886
Jan 10 22:35:43 ubuntu container-sync[2886]: Configuration option internal_client_conf_path not defined. Using default configuration, See internal-client.conf-sample for options
