-- Logs begin at Mon 2020-01-20 22:27:43 UTC, end at Tue 2020-01-21 00:05:08 UTC. --
Jan 20 23:28:31 ubuntu systemd[1]: Started Devstack devstack@s-container-sync.service.
Jan 20 23:28:32 ubuntu container-sync[2281]: Starting 2281
Jan 20 23:28:32 ubuntu container-sync[2281]: Configuration option internal_client_conf_path not defined. Using default configuration, See internal-client.conf-sample for options
