-- Logs begin at Fri 2020-01-03 20:50:08 UTC, end at Fri 2020-01-03 22:12:35 UTC. --
Jan 03 21:51:43 ubuntu systemd[1]: Started Devstack devstack@s-container-sync.service.
Jan 03 21:51:44 ubuntu container-sync[1565]: Starting 1565
Jan 03 21:51:44 ubuntu container-sync[1565]: Configuration option internal_client_conf_path not defined. Using default configuration, See internal-client.conf-sample for options
