-- Logs begin at Sun 2020-01-12 09:24:31 UTC, end at Mon 2020-01-13 18:31:47 UTC. --
Jan 13 08:59:00 ubuntu systemd[1]: Started Devstack devstack@s-container-sync.service.
Jan 13 08:59:02 ubuntu container-sync[15266]: Starting 15266
Jan 13 08:59:02 ubuntu container-sync[15266]: Configuration option internal_client_conf_path not defined. Using default configuration, See internal-client.conf-sample for options
