-- Logs begin at Tue 2020-01-14 03:06:20 UTC, end at Tue 2020-01-14 04:44:22 UTC. --
Jan 14 04:23:41 ubuntu systemd[1]: Started Devstack devstack@s-container-sync.service.
Jan 14 04:23:43 ubuntu container-sync[1774]: Starting 1774
Jan 14 04:23:43 ubuntu container-sync[1774]: Configuration option internal_client_conf_path not defined. Using default configuration, See internal-client.conf-sample for options
