-- Logs begin at Mon 2019-12-23 10:58:16 UTC, end at Mon 2019-12-23 12:33:19 UTC. --
Dec 23 11:49:09 ubuntu systemd[1]: Starting Devstack devstack@etcd.service...
Dec 23 11:49:09 ubuntu etcd[3651]: etcd Version: 3.3.12
Dec 23 11:49:09 ubuntu etcd[3651]: Git SHA: d57e8b8
Dec 23 11:49:09 ubuntu etcd[3651]: Go Version: go1.10.8
Dec 23 11:49:09 ubuntu etcd[3651]: Go OS/Arch: linux/amd64
Dec 23 11:49:09 ubuntu etcd[3651]: setting maximum number of CPUs to 2, total number of available CPUs is 2
Dec 23 11:49:09 ubuntu etcd[3651]: listening for peers on http://0.0.0.0:2380
Dec 23 11:49:09 ubuntu etcd[3651]: listening for client requests on 169.16.1.119:2379
Dec 23 11:49:09 ubuntu etcd[3651]: name = ubuntu
Dec 23 11:49:09 ubuntu etcd[3651]: data dir = /opt/stack/data/etcd
Dec 23 11:49:09 ubuntu etcd[3651]: member dir = /opt/stack/data/etcd/member
Dec 23 11:49:09 ubuntu etcd[3651]: heartbeat = 100ms
Dec 23 11:49:09 ubuntu etcd[3651]: election = 1000ms
Dec 23 11:49:09 ubuntu etcd[3651]: snapshot count = 100000
Dec 23 11:49:09 ubuntu etcd[3651]: advertise client URLs = http://169.16.1.119:2379
Dec 23 11:49:09 ubuntu etcd[3651]: initial advertise peer URLs = http://169.16.1.119:2380
Dec 23 11:49:09 ubuntu etcd[3651]: initial cluster = ubuntu=http://169.16.1.119:2380
Dec 23 11:49:09 ubuntu etcd[3651]: starting member 45c0bf7a1d234cb1 in cluster 60ef43e9375188cf
Dec 23 11:49:09 ubuntu etcd[3651]: 45c0bf7a1d234cb1 became follower at term 0
Dec 23 11:49:09 ubuntu etcd[3651]: newRaft 45c0bf7a1d234cb1 [peers: [], term: 0, commit: 0, applied: 0, lastindex: 0, lastterm: 0]
Dec 23 11:49:09 ubuntu etcd[3651]: 45c0bf7a1d234cb1 became follower at term 1
Dec 23 11:49:09 ubuntu etcd[3651]: simple token is not cryptographically signed
Dec 23 11:49:09 ubuntu etcd[3651]: starting server... [version: 3.3.12, cluster version: to_be_decided]
Dec 23 11:49:09 ubuntu etcd[3651]: 45c0bf7a1d234cb1 as single-node; fast-forwarding 9 ticks (election ticks 10)
Dec 23 11:49:09 ubuntu etcd[3651]: added member 45c0bf7a1d234cb1 [http://169.16.1.119:2380] to cluster 60ef43e9375188cf
Dec 23 11:49:09 ubuntu etcd[3651]: 45c0bf7a1d234cb1 is starting a new election at term 1
Dec 23 11:49:09 ubuntu etcd[3651]: 45c0bf7a1d234cb1 became candidate at term 2
Dec 23 11:49:09 ubuntu etcd[3651]: 45c0bf7a1d234cb1 received MsgVoteResp from 45c0bf7a1d234cb1 at term 2
Dec 23 11:49:09 ubuntu etcd[3651]: 45c0bf7a1d234cb1 became leader at term 2
Dec 23 11:49:09 ubuntu etcd[3651]: raft.node: 45c0bf7a1d234cb1 elected leader 45c0bf7a1d234cb1 at term 2
Dec 23 11:49:09 ubuntu etcd[3651]: published {Name:ubuntu ClientURLs:[http://169.16.1.119:2379]} to cluster 60ef43e9375188cf
Dec 23 11:49:09 ubuntu etcd[3651]: setting up the initial cluster version to 3.3
Dec 23 11:49:09 ubuntu etcd[3651]: INFO: 2019/12/23 11:49:09 dialing to target with scheme: ""
Dec 23 11:49:09 ubuntu etcd[3651]: INFO: 2019/12/23 11:49:09 could not get resolver for scheme: ""
Dec 23 11:49:09 ubuntu systemd[1]: Started Devstack devstack@etcd.service.
Dec 23 11:49:09 ubuntu etcd[3651]: ready to serve client requests
Dec 23 11:49:09 ubuntu etcd[3651]: serving insecure client requests on 169.16.1.119:2379, this is strongly discouraged!
Dec 23 11:49:09 ubuntu etcd[3651]: set the initial cluster version to 3.3
Dec 23 11:49:09 ubuntu etcd[3651]: enabled capabilities for version 3.3
