-- Logs begin at Mon 2019-12-23 10:58:16 UTC, end at Mon 2019-12-23 12:33:20 UTC. --
Dec 23 12:05:15 ubuntu systemd[1]: Started Devstack devstack@s-container-sync.service.
Dec 23 12:05:16 ubuntu container-sync[2742]: Starting 2742
Dec 23 12:05:16 ubuntu container-sync[2742]: Configuration option internal_client_conf_path not defined. Using default configuration, See internal-client.conf-sample for options
