-- Logs begin at Mon 2020-01-13 23:59:15 UTC, end at Tue 2020-01-14 01:39:59 UTC. --
Jan 14 00:54:26 ubuntu systemd[1]: Starting Devstack devstack@etcd.service...
Jan 14 00:54:26 ubuntu etcd[3799]: etcd Version: 3.3.12
Jan 14 00:54:26 ubuntu etcd[3799]: Git SHA: d57e8b8
Jan 14 00:54:26 ubuntu etcd[3799]: Go Version: go1.10.8
Jan 14 00:54:26 ubuntu etcd[3799]: Go OS/Arch: linux/amd64
Jan 14 00:54:26 ubuntu etcd[3799]: setting maximum number of CPUs to 2, total number of available CPUs is 2
Jan 14 00:54:26 ubuntu etcd[3799]: listening for peers on http://0.0.0.0:2380
Jan 14 00:54:26 ubuntu etcd[3799]: listening for client requests on 169.16.1.119:2379
Jan 14 00:54:26 ubuntu etcd[3799]: name = ubuntu
Jan 14 00:54:26 ubuntu etcd[3799]: data dir = /opt/stack/data/etcd
Jan 14 00:54:26 ubuntu etcd[3799]: member dir = /opt/stack/data/etcd/member
Jan 14 00:54:26 ubuntu etcd[3799]: heartbeat = 100ms
Jan 14 00:54:26 ubuntu etcd[3799]: election = 1000ms
Jan 14 00:54:26 ubuntu etcd[3799]: snapshot count = 100000
Jan 14 00:54:26 ubuntu etcd[3799]: advertise client URLs = http://169.16.1.119:2379
Jan 14 00:54:26 ubuntu etcd[3799]: initial advertise peer URLs = http://169.16.1.119:2380
Jan 14 00:54:26 ubuntu etcd[3799]: initial cluster = ubuntu=http://169.16.1.119:2380
Jan 14 00:54:26 ubuntu etcd[3799]: starting member 45c0bf7a1d234cb1 in cluster 60ef43e9375188cf
Jan 14 00:54:26 ubuntu etcd[3799]: 45c0bf7a1d234cb1 became follower at term 0
Jan 14 00:54:26 ubuntu etcd[3799]: newRaft 45c0bf7a1d234cb1 [peers: [], term: 0, commit: 0, applied: 0, lastindex: 0, lastterm: 0]
Jan 14 00:54:26 ubuntu etcd[3799]: 45c0bf7a1d234cb1 became follower at term 1
Jan 14 00:54:26 ubuntu etcd[3799]: simple token is not cryptographically signed
Jan 14 00:54:26 ubuntu etcd[3799]: starting server... [version: 3.3.12, cluster version: to_be_decided]
Jan 14 00:54:26 ubuntu etcd[3799]: 45c0bf7a1d234cb1 as single-node; fast-forwarding 9 ticks (election ticks 10)
Jan 14 00:54:26 ubuntu etcd[3799]: added member 45c0bf7a1d234cb1 [http://169.16.1.119:2380] to cluster 60ef43e9375188cf
Jan 14 00:54:26 ubuntu etcd[3799]: 45c0bf7a1d234cb1 is starting a new election at term 1
Jan 14 00:54:26 ubuntu etcd[3799]: 45c0bf7a1d234cb1 became candidate at term 2
Jan 14 00:54:26 ubuntu etcd[3799]: 45c0bf7a1d234cb1 received MsgVoteResp from 45c0bf7a1d234cb1 at term 2
Jan 14 00:54:26 ubuntu etcd[3799]: 45c0bf7a1d234cb1 became leader at term 2
Jan 14 00:54:26 ubuntu etcd[3799]: raft.node: 45c0bf7a1d234cb1 elected leader 45c0bf7a1d234cb1 at term 2
Jan 14 00:54:26 ubuntu etcd[3799]: published {Name:ubuntu ClientURLs:[http://169.16.1.119:2379]} to cluster 60ef43e9375188cf
Jan 14 00:54:26 ubuntu systemd[1]: Started Devstack devstack@etcd.service.
Jan 14 00:54:26 ubuntu etcd[3799]: ready to serve client requests
Jan 14 00:54:26 ubuntu etcd[3799]: INFO: 2020/01/14 00:54:26 dialing to target with scheme: ""
Jan 14 00:54:26 ubuntu etcd[3799]: INFO: 2020/01/14 00:54:26 could not get resolver for scheme: ""
Jan 14 00:54:26 ubuntu etcd[3799]: serving insecure client requests on 169.16.1.119:2379, this is strongly discouraged!
Jan 14 00:54:26 ubuntu etcd[3799]: setting up the initial cluster version to 3.3
Jan 14 00:54:26 ubuntu etcd[3799]: set the initial cluster version to 3.3
Jan 14 00:54:26 ubuntu etcd[3799]: enabled capabilities for version 3.3
