-- Logs begin at Mon 2019-12-16 19:12:50 UTC, end at Mon 2019-12-16 20:49:38 UTC. --
Dec 16 20:25:34 ubuntu systemd[1]: Started Devstack devstack@s-container-sync.service.
Dec 16 20:25:36 ubuntu container-sync[3343]: Starting 3343
Dec 16 20:25:36 ubuntu container-sync[3343]: Configuration option internal_client_conf_path not defined. Using default configuration, See internal-client.conf-sample for options
