-- Logs begin at Fri 2020-01-03 14:02:13 UTC, end at Fri 2020-01-03 16:14:43 UTC. --
Jan 03 15:53:49 ubuntu systemd[1]: Started Devstack devstack@s-container-sync.service.
Jan 03 15:53:50 ubuntu container-sync[1566]: Starting 1566
Jan 03 15:53:50 ubuntu container-sync[1566]: Configuration option internal_client_conf_path not defined. Using default configuration, See internal-client.conf-sample for options
