-- Logs begin at Tue 2019-12-24 02:16:31 UTC, end at Tue 2019-12-24 04:51:11 UTC. --
Dec 24 03:25:06 ubuntu systemd[1]: Started Devstack devstack@s-container-sync.service.
Dec 24 03:25:07 ubuntu container-sync[3060]: Starting 3060
Dec 24 03:25:07 ubuntu container-sync[3060]: Configuration option internal_client_conf_path not defined. Using default configuration, See internal-client.conf-sample for options
